@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-track {
    background: #f0fdf4;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: #22c55e;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #16a34a;
}
::-webkit-scrollbar-button {
    display: none; 
    height: 0; 
    width: 0;
    background: none;
}
::-webkit-scrollbar-corner {
    background: #dcfce7;
}

.custom-scroll-green {
    scrollbar-width: thin;
    scrollbar-color: #22c55e #f0fdf4;
}
